trigger:
- main

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  webAppName: 'xyz-webapp'  # Replace with your Azure Web App name

stages:
- stage: Build
  displayName: 'Build .NET Application'
  jobs:
  - job: Build
    pool: 
      name: "selfhosted"
    variables:
      sonarQubeprojectkey: 'xyz-webapp'  # Replace with your SonarQube project key
      fortifyScanEnabled: false
    steps:
    - task: UseDotNet@2
      inputs:
        version: '8.0.x'
        includePreviewVersions: false

    - task: DotNetCoreCLI@2
      displayName: 'Restore NuGet packages'
      inputs:
        command: 'restore'
        projects: '**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '**/*.csproj'
        arguments: '--configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Publish'
      inputs:
        command: 'publish'
        publishWebProjects: true
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
        zipAfterPublish: true

    - task: PublishBuildArtifacts@1
      inputs:
        pathtoPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'webapp'

- stage: Deploy
  displayName: 'Deploy to Azure Web App'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    pool: 
      name: "selfhosted"
    environment: 'Dev'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'service-Connection' 
              appName: '$(webAppName)'
              package: '$(Pipeline.Workspace)/webapp/**/*.zip'
              deploymentMethod: 'auto'